/* ==========================================================================
   Base
   ========================================================================== */

body { }



/* =============================================================================
   Header
   ========================================================================== */

.banner { }



/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 767px) {

}

/* ==========================================================================
   Custom specific stuff
   ========================================================================== */
   
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
color: #fff;
text-decoration: none;
background-color: #C3C3C3;
background-image: -moz-linear-gradient(top,#CDCDCD,#B3B3B3);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#CDCDCD),to(#B3B3B3));
background-image: -webkit-linear-gradient(top,#CDCDCD,#B3B3B3);
background-image: -o-linear-gradient(top,#CDCDCD,#B3B3B3);
background-image: linear-gradient(to bottom,#CDCDCD,#B3B3B3);
background-repeat: repeat-x;
outline: 0;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcdcdcd',endColorstr='#ffb3b3b3',GradientType=0);
}
